@charset "utf-8";

body {
	margin: 20px;
	padding: 20px;
	line-height: 1;
	font-family: "Open Sans", sans-serif;
	font-size: 1em;
	background-color: #f1f1f1;
	color: #555;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.title {
	margin: 0;
	margin-bottom: 35px;
	padding: 0;
	font-size: 1.5em;
	font-weight: 300;
	color: #555;
}
.container {
	margin-top: 35px;
	min-width: 440px;
}
.controller {
	padding-top: 20px;
}
.controller li {
	display: inline-block;
	margin-left: 8px;
}
.controller li:first-child {
	margin-left: 0;
}
.controller li a {
	display: block;
	width: 20px;
	height: 20px;
	background-color: #fff;
	border-radius: 10px;
	transition: all 0.3s;
}
.controller li.on a {
	width: 50px;
	background-color: #8ac007;
}
.picture {
	position: relative;
	margin-top: 30px;
	width: 400px;
	height: 400px;
	overflow: hidden;
}
.picture ul {
	position: absolute;
	left: 0;
	top: 0;
	margin: 0;
	padding: 0;
	width: 2400px;
	list-style: none;
	transition: left 0.4s;
}
.picture li {
	float: left;
	width: 400px;
	height: 400px;
}
.picture img {
	max-width: 100%;
	height: auto;
}